<!DOCTYPE html>
<html lang="es">
<head>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/estilo.css">
			<link rel="stylesheet" href="https://use.typekit.net/shn1emv.css">


	<title>CONTACTO</title>
</head>
<body class="contenedor1">
	<!--INICIO DE PAGINA-->
	<header class="body_header">
		<!--NOMBRE IZQ-->
		<!--LOGO DERECH-->
	<div class="div_header">
		<h1>
		PERRO <br>CHIQUITO 
		</h1> <!-- TIPOGRAFIA "IMAGINARY FRIENDS BB"-->
		<img src="../assets/img/logogorra.png" alt="logogorra"> <!--LOGO-->

	</div> <br>
<nav class="header_nav">
	
	<div class="div__menu">
		
		<a href="../index.html">INICIO</a>
 		<a href="tienda.html"> TIENDA</a>		

		<a href="tabla-de-talles.html">TABLA DE TALLES</a>

		<a href="contacto.html">CONTACTO</a>

		<a href="quienes-somos.html">QUIENES SOMOS</a>
	
</div>
</nav>


	</header>
	<main>
	<div class="div_form">
	<form><label for="nombre"> NOMBRE: <input type="text" name="NOMBRE" placeholder="NOMBRE"></label></form>
   <form><label for="apellido"> APELLIDO: <input type="text" name="APELLIDO" placeholder="APELLIDO"></label></form>
<form><label for="telefono"> TELEFONO: <input type="text" name="TELEFONO" placeholder="TELEFONO"></label></form>
<form><label for="asunto"> ASUNTO: <input type="text" name="ASUNTO" placeholder="ASUNTO"></label></form>
</div>
<div class="div_subtitulo"><h3>CONSULTA</h3>
	</div>
		<div class="div_textarea">
<textarea cols="100" rows="10"></textarea>
			</div>

<div class="div__imput_enviar_borrar">
<input type="submit" value="ENVIAR">
<input type="reset" value="BORRAR">
</div>


	</main>
	<footer class="footer__background">
	<!--FINAL DE PAGINA-->
		<div>
	<a href="https://www.instagram.com/perrochiquitok?utm_medium" target="_blank"> <h2>INSTAGRAM</h2>
	</a>
		</div>
	</footer>

</body>
</html>