<!DOCTYPE html>
<html lang="es">
<head>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="https://use.typekit.net/shn1emv.css">
			<link rel="stylesheet" href="../css/estilo.css">


	<title>quienes somos</title>
</head>
<body class="contenedor1">
	<!--INICIO DE PAGINA-->
	<header class="body_header">
		<!--NOMBRE IZQ-->
		<!--LOGO DERECH-->
	<div class="div_header">
		<h1>
		PERRO <br>CHIQUITO 
		</h1> <!-- TIPOGRAFIA "IMAGINARY FRIENDS BB"-->
		<img src="../assets/img/logogorra.png" alt="logogorra"> <!--LOGO-->

	</div> <br>
<nav class="header_nav">
	
	<div class="div__menu">
		
		<a href="../index.html">INICIO</a>
 		<a href="/views/tienda.html">tienda</a>	

		<a href="tabla-de-talles.html">TABLA DE TALLES</a>

		<a href="contacto.html">CONTACTO</a>

		<a href="quienes-somos.html">QUIENES SOMOS</a>
	
</div>
</nav>


	</header>
	<main>
	<div class="div_titulos"><h1>¿QUIENES SOMOS?</h1></div>
	<article class="article_parrafo"><p>
		Somos una pequeña marca de ropa inspirada es nuestras traviesas mascotas TORONTO y LUNA, aunque de chiquitos no tienen nada nos inspiraron en medio de la pandemia a crear diseños emblematicos. 
	</p></article>
	<div class="div_imgperros">
		<img src="../assets/img/toronto1.jpg" alt="toronto">
		<img src="../assets/img/luna1.jpg" alt="luna">
	</div>
		</main>
	<footer class="footer__background">
	<!--FINAL DE PAGINA-->
		<div>
	<a href="https://www.instagram.com/perrochiquitok?utm_medium" target="_blank"> <h2>INSTAGRAM</h2>
	</a>
		</div>
	</footer>
</body>
</html>