<!DOCTYPE html>
<html lang="es">
<head>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/estilo.css">
			<link rel="stylesheet" href="https://use.typekit.net/shn1emv.css">


	<title>guia de talles</title>
</head>
<body class="contenedor1">
	<!--INICIO DE PAGINA-->
	<header class="body_header">
		<!--NOMBRE IZQ-->
		<!--LOGO DERECH-->
	<div class="div_header">
		<h1>
		PERRO <br>CHIQUITO 
		</h1> <!-- TIPOGRAFIA "IMAGINARY FRIENDS BB"-->
		<img src="../assets/img/logogorra.png" alt="logogorra"> <!--LOGO-->

	</div> <br>
<nav class="header_nav">
	
	<div class="div__menu">
		
		<a href="../index.html">INICIO</a>
 		<a href="tienda.html"> TIENDA</a>		

		<a href="tabla-de-talles.html">TABLA DE TALLES</a>

		<a href="contacto.html">CONTACTO</a>

		<a href="quienes-somos.html">QUIENES SOMOS</a>
	
</div>
</nav>


	</header>
	<main>
		<div class="div_titulos"><h1> TABLA DE TALLES </h1></div>
		
		 <article class="article_parrafo"> <p>Las medidas son aproximadas pueden sufrir pequeñas variacones en torno a la confeccion y costura</p> 
</article>
		<div class="div_subtitulo"><h2>REMERAS</h2> </div>

		<table class="table__flex" border="1" cellpadding="2" cellspacing="5" >
	

	<tr>
		<th>S</th>
		<th>M</th>
        <th>L</th>
        <th>XL</th>

	</tr>
	<tr>
		<th>54 X 50 CM</th>
		<th>47 X 58 CM</th>
        <th>54 X 64 CM</th>
        <th>58 X 70 CM</th>

	</tr>
	</table>
			</main> <br>
		
	<footer class="footer__background">
	<!--FINAL DE PAGINA-->
		<div>
	<a href="https://www.instagram.com/perrochiquitok?utm_medium" target="_blank"> <h2>INSTAGRAM</h2>
	</a>
		</div>
	</footer>
</body>
</html>