<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="https://use.typekit.net/shn1emv.css">
			<link rel="stylesheet" href="../css/estilo.css">


	<title>TIENDA</title>
</head>
<body class="contenedor1">
	<!--INICIO DE PAGINA-->
	<header id="body_header">
		<!--NOMBRE IZQ-->
		<!--LOGO DERECH-->
<div class="div_header">
	<div class="titulo_header">	<h1>
		PERRO <br>CHIQUITO 
		</h1> </div><!-- TIPOGRAFIA "IMAGINARY FRIENDS BB"-->
	
	<div class="logo_header">

		<img src="../assets/img/logogorra.png" alt="logogorra"> <!--LOGO-->
	</div>
</div> 
	<br>

<nav class="header_nav">
	<ul class="div__menu">
	
        <a href="../index.html">INICIO</a>
 		<a href="tienda.html"> TIENDA</a>	

		<a href="tabla-de-talles.html">TABLA DE TALLES</a>

		<a href="contacto.html">CONTACTO</a>

		<a href="quienes-somos.html">QUIENES SOMOS</a>
	
		</ul>
</nav>



	</header>

	</header>
	<main>
		<!-- 4 IMAGENES LINEALES DE CADA PRODUCTO-->
		<div class="div_subtitulo">
			<h2>REMERAS</h2> </div>
		 <div class="div_imgperros">	<img src="../assets/img/remera1.png" alt="">
			<img src="#" alt="">
			<img src="#" alt="">
			<img src="#" alt="">
          </div>
		

		<div class="div_subtitulo">
			<h2>BUZOS</h2> </div>
		<div class="div_imgperros">
			<img src="../assets/img/buzo1.jpg" alt="">
			<img src="#" alt="">
			<img src="#" alt="">
			<img src="#" alt="">
			</div>

		

		<div class="div_subtitulo">
			<h2>OVERSIZE</h2></div>
			<div class="div_imgperros"><img src="../assets/img/oversize1.png" alt="">
			<img src="#" alt="">
			<img src="#" alt="">
			<img src="#" alt="">
</div>
		

		<div class="div_subtitulo">
			<h2>GORRAS</h2> </div>
			<div class="div_imgperros"><img src="../assets/img/gorra1.png" alt="">
			<img src="#" alt="">
			<img src="#" alt="">
			<img src="#" alt="">
</div>
		

		<div class="div_subtitulo">
			<h2>PERSONALIZABLES</h2> </div>
			<div class="div_imgperros"><img src="../assets/img/personalizables1.png" alt="">
			<img src="#" alt="">
			<img src="#" alt="">
			<img src="#" alt="">
				</div>


	</main>
	<footer class="footer__background">
	<!--FINAL DE PAGINA-->
		<div>
	<a href="https://www.instagram.com/perrochiquitok?utm_medium" target="_blank"> <h2>INSTAGRAM</h2>
	</a>
		</div>
	</footer>
</body>
</html>